@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{padding: 0; margin: 0; box-sizing: border-box;}
::-webkit-scrollbar{
  background:transparent;
  width:12px;
}
::-webkit-scrollbar-thumb{ 
  border-radius: 8px;
  background: #8c44ab;
  border: 2px solid #000;
}
body{background: #ffdddd;}
h1 span{
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  -webkit-text-stroke: 7px #000;
  text-shadow: 7px 7px 0 #000;
}
button{
  height: 50px;
  width: 50px;
  background: #fff;
  font-size: 30px;
  line-height: 30px;
  border: 5px solid #000;
  border-radius: 5px;
}
button:hover{
  background: #fcf5db;
  border: 5px solid #4a4b83;
}
.cover{
  position: absolute;
  font-size: 25px;
  left: 0;
  top: 100%;
  background: #f386eb43;
  width: 100%;
  height: 100%;
  transition: .45s;
  color: #666;
}
#job-link:hover .cover{
  top: 0;
}
input {
  background: transparent;
  font-size: 20px;
  padding: 10px;
  height: 50px;
  width: 160px;
  border-bottom: 5px solid #000;
}
input:focus{outline: none;}
@media (width > 1024px) {
  input {
    width: 350px;
    font-size: 32px;
  }
}
